@import "variables";

.hero {
  margin-top: 100px;

  .container {
    display: flex;
    justify-content: space-between;

    .left {
      display: flex;
      flex-direction: column;

      gap: 20px;

      .textBlock {
        h1 {
          width: 50%;
          font-size: 4rem;
          span {
            font-weight: 300;
          }
        }
        .decorativeText {
          &::before,
          &::after {
            content: "-";
            margin: 0 5px;
            transform: translateY(-50%);
          }
        }
      }
    }
  }
}
